<h3>I am anubhav</h3>
<!-- <app-user-list></app-user-list>
<app-student-list></app-student-list>
<app-login></app-login> -->
<!-- <button (click)="getName()">click me</button> -->
<!-- <button (click)="getData('hello')">call function</button>
<br />
<input
  type="text"
  #box
  (keyup)="getData(box.value)"
  placeholder="event keyup"
/>
<br />
<input
  type="text"
  #box1
  (keydown)="getData(box1.value)"
  placeholder="event keyup"
/>
<br />
<input
  type="text"
  #box2
  (blur)="getData(box2.value)"
  placeholder="event keyup"
/>
<br />
<input
  type="text"
  #box3
  (input)="getData(box3.value)"
  placeholder="event keyup"
/>
<br />
<h1 (mouseover)="getData('over')">over</h1> -->

<!-- <input type="text" #box placeholder="enter name" name="name" id="" />
<button (click)="getValue(box.value)">click</button>

<p>Box value is {{ displayVal }}</p> -->
<button (click)="counter('add')">++</button>
<p>Count : {{ count }}</p>
<button (click)="counter('minus')">--</button>
